.controls-container {
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}

.controls-container .control .select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}


.controls-container .control .select .inner {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.controls-container #display {
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}

[type="range"] {
  margin: 12.5px 0;
  width: 100%;
}